{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Créer un compte{% endblock %}


{% block header %}
    {% include 'default/_menu.html.twig'  %}
{% endblock %}

{% block body %}
    <h1>Créer un compte et de beaux projets!</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}


        <button type="submit" class="btn btn-lg btn-primary">Register</button>

    {{ form_end(registrationForm) }}
{% endblock %}
