{% extends 'base.html.twig' %}

{% block title %} {{ parent () }} - {{ project.title }}{% endblock %}

{% block header %}
    {% include 'default/_menu.html.twig'  %}
{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-md-4">
        <img src="{{asset('uploads/projects/' ~ project.picture)}}" alt="{{project.title}}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h1>{{project.title}}</h1>
        <div class="bg-light rounded p-2">
        {% for category in project.categories %}
            <span class="badge badge-pill badge-primary" title="Catégorie">
                <i class="fa fa-tag"></i>
                <a style="color: white" href="{{ path('category_show', {"slug": category.slug}) }}">{{ category.label }}</a>
            </span>
        {% endfor %}
            <span class="badge badge-pill badge-secondary" title="Ville">
                <i class="fa fa-map-marker"></i>
                <a style="color: white" href="{{ path('city_show', {"slug": project.city.slug}) }}">{{project.city.name}}</a>
                </span>
            <span class="badge badge-pill badge-info" title="Date de proposition">
                    <i class="fa fa-calendar"></i>
                   {{project.createdAt|date('d-m-Y')}}
                </span>
            <span class="badge badge-pill badge-warning" title="Coût du projet">
                    <i class="fa fa-euro"></i>
                    {{project.cost}}
                </span>
        </div>
        <p>{{ project.description }}</p>
    </div>
</div>

    <hr>

    <form class="bg-light rounded p-2" method="post">
        <h2>Ajouter un commentaire</h2>
        {% if app.user %}
            {% include 'comment/_form.html.twig' %}
        {% else %}
            <p><a href="{{ path('app_login') }}">Identifiez-vous</a> ou <a href="{{ path('app_register') }}">inscrivez-vous</a> pour ajouter un commentaire</p>
        {% endif %}
    </form>

    <section class="list-group mt-4">
        {% for comment in project.comments %}
            <article class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ comment.title}}</h5>
                    <small>Ecrit par {{ comment.user }}, il y a {{ comment.createdAtFormat }} </small>
                </div>
                <p class="mb-1"></p>
                <small>{{ comment.content}}</small>
            </article>
        {% endfor %}

    </section>
{% endblock %}
